<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="chao.app.ami">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="chao.app.ami.SupportFragmentContainer"
            android:theme="@style/Ami"/>
        <activity android:name="chao.app.ami.FragmentContainer"
            android:theme="@style/Ami"/>

        <service android:name="chao.app.ami.monitor.CommandService" android:exported="true">
            <intent-filter>
                <action android:name="service.monitor.cmd"/>
                <action android:name="service.monitor.dump"/>
                <action android:name="service.monitor.gc"/>
                <action android:name="service.monitor.signal"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name="chao.app.ami.utils.permission.AmiPermission$PermissionActivity"
            android:theme="@style/PermissionStyle"/>
    </application>

</manifest>
